body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafc;
    margin: 20px;
}
h1 {
    font-size: 16px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
}
li {
    margin-bottom: 5px;
}
a {
    color: #69696a;
    text-decoration: none;
}
.button {
    color: #FFF;
    background-color: #000;
    display: block;
    text-align: center;
    border-radius: 25px;
    padding: 5px;
}
p {
    color: #69696a;
    text-align: left;
    border-left: 2px solid #69696a;
    padding: 10px;
}